.button {
    background-color: lightgrey;
    border-radius: 5px;
    padding: 1em;
    text-decoration: none;
    color: black;
    margin-top: 3em;
}

.button:hover {
    background-color: darkgrey;
    transition: .2s ease-in;
}