.list {
    list-style-type: disc;
}

.text {
    margin-bottom: 1em;
}

.answerContainer, .answer { 
    margin-bottom: 3em;
}

.frustration {
    font-size: 1.3em;
}

.scenarios {
    font-size: 1.2em;
}

.scenarios, .frustration {
    margin-bottom: 1em;
}
